<section id="features" class="features" >
   
    <h2><i class="fas fa-lightbulb"></i> Our Features</h2>
    <div class="feature-cards">
        <!-- Feature Card 1 -->
        <div class="feature-card">
            <i class="fas fa-rocket"></i>
            <h3>Fast Performance</h3>
            <p>Experience lightning-fast speeds with our optimized and scalable technology.</p>
        </div>

        <!-- Feature Card 2 -->
        <div class="feature-card">
            <i class="fas fa-lock"></i>
            <h3>Security</h3>
            <p>Our top-notch security ensures that your data is safe and protected at all times.</p>
        </div>

        <!-- Feature Card 3 -->
        <div class="feature-card">
            <i class="fas fa-cogs"></i>
            <h3>Customizable</h3>
            <p>Personalize and configure settings to meet your specific needs and preferences.</p>
        </div>

        <!-- Feature Card 4 -->
        <div class="feature-card">
            <i class="fas fa-users"></i>
            <h3>Community Support</h3>
            <p>Join a vibrant community and get the support and guidance you need from fellow users.</p>
        </div>
    </div>
</section>
