
/* Hero Section */
.hero {
    display: flex;
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Hide any overflowing content */
    /* position: fixed; Fixes the container in place */
    top: 0;
    left: 0;
    width: 100%; /* Center background image */
    padding-top: 180px;
}

/* Overlay */
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    z-index: -1; /* Place overlay behind content */
}

/* Hero Content */
.hero-content {
    position: relative; /* Ensure content is above the overlay */
    z-index: 1; /* Keep content above the overlay */
    width: 100%; /* Full width */
    max-width: 1200px; /* Limit max-width for larger screens */
    padding: 0 20px; /* Padding to ensure content does not touch the edges */
    box-sizing: border-box; /* Include padding in the width calculation */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center vertically within .hero */
    align-items: center; /* Center horizontally within .hero */
    text-align: center; /* Center text horizontally */
    min-height: 80vh; /* Increased minimum height for the hero content */
    padding-top: 20%; /* Add top padding for alignment */
    
}

/* Hero Content Headline */
.hero-content h1 {
    font-size: 3rem; /* Font size for the headline */
    margin-bottom: 10px; /* Space below the headline */
    animation: fadeIn 1s ease-out; /* Fade-in animation */
}

/* Hero Content Paragraph */
.hero-content p {
    font-size: 1.2rem; /* Font size for the paragraph */
    margin-bottom: 20px; /* Space below the paragraph */
    animation: fadeIn 1.5s ease-out; /* Fade-in animation */
}

/* Primary Button */
.hero-content .btn-primary {
    background: #1abc9c; /* Teal background */
    color: #fff; /* White text */
    padding: 15px 25px; /* Padding around the button text */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    transition: background 0.3s, transform 0.3s; /* Smooth transitions for background and transform */
    animation: fadeIn 2s ease-out; /* Fade-in animation */
}

/* Button Hover State */
.hero-content .btn-primary:hover {
    background: #16a085; /* Darker teal on hover */
    transform: scale(1.05); /* Slightly scale up on hover */
}
.slide{
    z-index: -1;
}

/* Keyframes for fadeIn animation */
@keyframes fadeIn {
    from {
        opacity: 0; /* Start with opacity 0 */
    }
    to {
        opacity: 1; /* Fade to opacity 1 */
    }
}
